@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Noto+Sans+JP:wght@400;700;900&display=swap');

html, body {
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-direction: column;
}
.intro {
    background-image: url("/images/intro.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    flex: 1 0 auto;
}

.intro-2 {
    flex: 1 0 auto;
}

.btn{
    border: solid 2px #7468FF;
    border-radius: 20px;
    padding: 5px 30px;
    background: none;
    color: #444444;
    box-shadow: none;
}

.btn-right {
    float: right;
    margin: 30px 20px;
}

.intro-h1 {
    font-weight: 900;
    text-align: center;
    margin-top: 250px;
    font-size: 80px;
    color: #7468FF;
}

.intro-h1-small {
    font-size: 50px;
    margin-top: 300px;
}

.intro-text {
    margin: 100px 50px 0px 50px;
    padding: 80px 0px 50px 0px;
    color: #444444;
    font-size: 25px;
    text-align: center;
}

.opacity-bgr {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    height: 40%;
}

.opacity-bgr {
    height: 50%;
}

.dots {
    display: flex;
    justify-content: center;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #7468FF;
    margin: 10px;
}

.dot-active {
    background-color: #7468FF;
}