
.heading-1 {
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    color: #7468FF;
}

.heading-container {
    margin-top: 20px;
    margin-bottom: 50px;
}

.profile-header {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.profile-header-titles {
    margin-top: 30px;
    margin-left: 30px;
}

.profile-name {
    font-size: 25px;
    font-weight: 600;
}

.profile-title {
    font-size: 15px;
    font-weight: 600;
    color: #7468FF;
}

.container {
    padding: 0 30px;
    box-sizing: border-box;
}

.h2 {
    color: #7468FF;
    font-weight: 600;
    font-size: 25px;
}

.skills {
    display: flex;
    margin-top: 10px;
}

.skill {
    background-color: #52D94F;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 20px;
}

.skill-first {
    margin-left: 0;
}


.profile-btn {
    border: 2px solid #7468FF;
    border-radius: 20px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.profile-btn-text {
    color: #444444;
    display: block;
    margin: 0;
    text-decoration: none;
}

.profile-btn-text:hover {
    text-decoration: none;
}

.profile-info {
    background-color: #52D94F;
    margin: 10px 10px 10px 0;
    padding: 10px 20px;
    border-radius: 20px;
    width: 100%;
    display: flex;

}

.profile-info-year {
    margin: 0;
}

.profile-info-place {
    margin-bottom: 0;
    margin-left: 10px;
    font-weight: 600;

}

section {
    margin: 50px 0;
}

.profile-btn-solid {
    background-color: #7468FF;
    color: white;
    margin-top: 0;
}

.profile-btn-text-solid {
    color: white;
}

.profile-btn-icon {
    fill:white;
}

.profile-btn-nomargin {
    margin-bottom: 0;
}

.section-nomargin-bottom {
    margin-bottom: 30px;
}

.section-nomargin-top {
    margin-top: 0;
}

.profile-about-text {
    margin-bottom: 100px;
}