.contract-div {
  background-color: #eceeef;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.paragraph {
  padding: 10px;
}

.paragraph--1 {
  padding-bottom: 7rem;
}

.contract-heading {
  padding-top: 10px;
  padding-left: 10px;
}
