.input-div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.container-filter {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.background {
  background: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px grey;
}

.heading-search {
  font-size: 23px;
  text-align: center;
  font-weight: 400;
  padding-bottom: 1rem;
}

.search-btn {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
