@import 'variables';
@import 'custom';
@import '../node_modules/bootstrap/scss/bootstrap';

@import 'global';
@import 'chat';
@import "profile";
@import "login";

@import 'partials/layout';
@import 'partials/register';
@import 'partials/icons';
@import 'partials/buttons';
@import 'partials/typography';


