.heading {
  text-align: center;
}
.heading-container {
  margin-top: 5rem;
  margin-bottom: 9rem;
}

.login-div {
  text-align: center;
}

.login-header {
  font-size: 20px;
}

.redirect-btn {
  margin: 2rem;
  box-shadow: var(--shadow);
}

.buttons {
  box-shadow: var(--shadow);
}
