.register {
  .container {
    height: 100vh;
    position: relative;

    * {
      flex: 1;
    }
  }

  h1 {
    margin: 1rem;
  }

  .center-vertically {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    div {
      margin: 2rem auto;
    }
  }

  svg {
    margin: 0.5rem auto;
  }

  button {
    display: block;
    margin: auto;
  }
}

.register.person {
}
